{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1 class="display-4 d-flex justify-content-center">{{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ category.createdAt|date('d/m/Y') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ category.updatedAt|date('d/m/Y') }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  category.title }}</dd>

            {% if category.questions|length %}
                <dt class="d-flex p-3">{{ 'label_questions_category'|trans }}</dt>
        </dl>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>
                    {{ 'id'|trans }}
                </td>
                <td>
                    {{ 'label_question_subject'|trans }}
                </td>
                <td>
                    {{ '' }}
                </td>
            </tr>
            </thead>
            {% endif %}
            {% for question in questions %}
            <tr>
                {% if question.category.id == category.id %}
                    <td>
                        {{ question.id }}
                    </td>
                <td>
                    {{ question.subject }}
                </td>
                    <td>
                        <a  class="btn btn-info" href="{{ url('question_show', {id: question.id}) }}" title="{{ 'label_category_show'|trans }}">
                            {{ 'label_category_show'|trans }}
                        </a>
                    </td>
                {% endif %}
            {% endfor %}
        </table>

        <p>
            <a class="btn btn-info" href="{{ url('category_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message_item_not_found'|trans
        } %}
    {% endif %}
{% endblock %}